html {
  scroll-behavior: smooth;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: red;
}

::selection {
  color: white;
  background: red;
}
body {
  color: whitesmoke;
  cursor: default;
  background-color: #151515;
}
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 1;
  background-color: #151515;
}

.page {
  height: 100%;
  width: 100%;
}
head-list {
  list-style: none;
}
li {
  display: inline-block;
  padding: 15px;
}
.contents {
  align-self: flex-end;
  position: relative;
  margin-top: 10px;
  width: fit-content;
  margin-left: 58%;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: azure;
  text-decoration: none;
}
.about-effect {
  width: 55px;
  height: 5px;
  left: 50%;
  top: 0%;
  background-color: rgb(231, 38, 38);
}

.skills-effect {
  width: 48px;
  height: 5px;
  left: 50%;
  top: 0%;
  background-color: rgb(89, 86, 116);
}

.experience-effect {
  width: 92px;
  height: 5px;
  left: 50%;
  top: 0%;

  background-color: blueviolet;
}
.projects-effect {
  width: 75px;
  height: 5px;
  left: 50%;
  top: 0%;

  background-color: rgb(53, 161, 194);
}
.socials-effect {
  width: 65px;
  height: 5px;
  left: 50%;
  top: 0%;
  background-color: rgb(210, 144, 44);
}
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

.intro {
  padding: 30px;
  margin-top: 150px;
  margin-left: 160px;
}
.intro-content {
  position: absolute;
  display: inline-block;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size: 21px;
  font-weight: 100;
  font-family: "Source Code Pro", monospace;
}
.intro-content2 {
  position: absolute;
  display: inline;
  padding-left: 20px;
  margin-top: 55px;
  font-weight: 300;
  color: #dd3737;
  letter-spacing: 2px;
  font-size: small;
  font-family: "Source Code Pro", monospace;
}

.intro-content3 {
  position: absolute;
  display: inline;
  padding-left: 20px;
  margin-top: 50px;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.intro-content4 {
  position: absolute;
  display: inline;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 150px;
  font-size: 18px;
  font-weight: 100;
}

.contact-us {
  background-color: #dd3737;
  border-width: 0px;
  color: whitesmoke;
  height: 50px;
  width: 140px;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  position: absolute;
  margin-left: 20px;
  transition: 0.6s;
  margin-top: 200px;
}
.contact-us:hover {
  background-color: #d5b019;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.about-head {
  font-size: 150px;
  color: black;
  margin-left: 250px;
  margin-top: 100px;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
}
.about-me {
  position: absolute;
  margin-top: 110px;
  font-size: 50px;
  margin-left: 230px;
  font-family: "Source Code Pro", monospace;
}
.about-content1 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 350px;
  width: 800px;
  font-weight: 400;
  color: whitesmoke;
}
.socials-button {
  background-color: #dd3737;
  border-width: 0px;
  color: whitesmoke;
  height: 50px;
  width: 140px;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  position: absolute;
  transition: 0.6s;
  margin-top: 40px;
}
.socials-button:hover {
  background-color: #d5b019;
}
.title-experience {
  font-size: 150px;
  color: black;
  margin-left: 250px;
  margin-top: 200px;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
}
.experience-head {
  position: absolute;
  margin-top: 110px;
  font-size: 50px;
  margin-left: 230px;
  font-family: "Source Code Pro", monospace;
}
.vtf-exp {
  height: 400px;
  width: 400px;
  margin-left: 42%;
  margin-top: 130px;
}
.vtf-img {
  margin-left: 50px;
  margin-top: 10px;
}
.vtf-border {
  height: 3px;
  width: 350px;
  background-color: red;
  position: sticky;
}
.vtf-head {
  height: 100px;
  padding: 0px;
  align-items: center;
  width: 350px;
  margin-top: 0px;
  margin-left: 30px;
  background-color: rgb(52, 45, 45);
}
.vtf-title {
  align-self: center;
  margin-left: 15px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.vtf-location {
  margin-left: 250px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.vtf-role {
  margin-left: 15px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.owasp-exp {
  height: 400px;
  width: 400px;
  margin-left: 72%;
}
.owasp-img {
  margin-left: 50px;
  margin-top: 10px;
}
.owasp-border {
  height: 3px;
  width: 350px;
  background-color: blue;
  position: sticky;
}
.owasp-head {
  height: 100px;
  padding: 0px;
  align-items: center;
  width: 350px;
  margin-top: 0px;
  margin-left: 30px;
  background-color: rgb(52, 45, 45);
}
.owasp-title {
  align-self: center;
  margin-left: 40px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.owasp-location {
  margin-left: 250px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.owasp-role {
  margin-left: 40px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.h1-exp {
  height: 400px;
  width: 400px;
  margin-left: 42%;
}
.h1-img {
  margin-left: 50px;
  margin-top: 10px;
}
.h1-border {
  height: 3px;
  width: 350px;
  background-color: purple;
  position: sticky;
}
.h1-head {
  height: 100px;
  padding: 0px;
  align-items: center;
  width: 350px;
  margin-top: 0px;
  margin-left: 30px;
  background-color: rgb(52, 45, 45);
}
.h1-title {
  align-self: center;
  margin-left: 50px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.h1-location {
  margin-left: 250px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.h1-role {
  margin-left: 50px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.vtf-discription {
    margin: auto;
    width: 80%;
}
.vtf-modal-open {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    transition-duration: 0.6s;
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: none;
}
.modal-content {
    color: #000;
    background-color: white;
    height: 500px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.vtf-1 {
    display: inline;
    margin-top: 50px;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    margin-left: 550px;
    position: absolute;
}
.vtf-img2 {
    display: inline;
    position: absolute;
    padding: 30px;
}
.vtf2 {
    color: #000;
    margin-left: 550px;
    display: inline;
    position: absolute;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 130px;
    letter-spacing: 1.5px;
}
.vtf3 {
    color: #000;
    display: inline;
    position: absolute;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-left: 900px;
    margin-top: 130px;
    letter-spacing: 1.5px;
    text-transform: uppercase
}
.vtf4 {
    color: #000;
    margin-left: 550px;
    display: inline;
    position: absolute;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 160px;
    letter-spacing: 1.5px;
}
.vtf5 {
    color: #000;
    margin-left: 550px;
    display: inline;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 600px;
    margin-top: 210px;
    letter-spacing: 1.5px;
}
.vtf-list {
    list-style: disc;
}

.navigation-terminal {
  height: 50px;
  background-color: rgb(200, 200, 200);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.close,
.small,
.min {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&family=Oleo+Script+Swash+Caps&display=swap');
.close {
    margin-left: 10px;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #000000;
    background-color: #ff605c;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
.small{
  margin-left: 40px;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #FFBD44;
}
.min {
  margin-left: 70px;
  position: absolute;
  padding-top: 2px;
  text-align:center;
  display: inline-block;
  color: #000000;
  background-color: #00CA4E;
}

.owasp-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  transition-duration: 0.6s;
  width: 80%;
  padding-left: 150px;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: none;
}
.owasp-content {
  color: #000;
  background-color: white;
  height: 500px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.owasp-1 {
  display: inline;
  margin-top: 50px;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-left: 550px;
  position: absolute;
}
.owasp-img2 {
  display: inline;
  position: absolute;
}
.owasp2 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 130px;
  letter-spacing: 1.5px;
}
.owasp3 {
  color: #000;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 900px;
  margin-top: 130px;
  letter-spacing: 1.5px;
  text-transform: uppercase
}
.owasp4 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 160px;
  letter-spacing: 1.5px;
}
.owasp5 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 600px;
  margin-top: 210px;
  letter-spacing: 1.5px;
}
.owasp-list {
  list-style: disc;
}


.new_close,
.new_small,
.new_min {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&family=Oleo+Script+Swash+Caps&display=swap');
.new_close {
    margin-left: 10px;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #000000;
    background-color: #ff605c;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
.new_small{
  margin-left: 40px;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #FFBD44;
}
.new_min {
  margin-left: 70px;
  position: absolute;
  padding-top: 2px;
  text-align:center;
  display: inline-block;
  color: #000000;
  background-color: #00CA4E;
}

.h1-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  transition-duration: 0.6s;
  width: 80%;
  padding-left: 150px;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: none;
}
.h1-content {
  color: #000;
  background-color: white;
  height: 500px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.h1-1 {
  display: inline;
  margin-top: 50px;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-left: 550px;
  position: absolute;
}
.h1-img2 {
  display: inline;
  position: absolute;
}
.h12 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 130px;
  letter-spacing: 1.5px;
}
.h13 {
  color: #000;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 900px;
  margin-top: 130px;
  letter-spacing: 1.5px;
  text-transform: uppercase
}
.h14 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 160px;
  letter-spacing: 1.5px;
}
.h15 {
  color: #000;
  margin-left: 550px;
  display: inline;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 600px;
  margin-top: 210px;
  letter-spacing: 1.5px;
}
.h1-list {
  list-style: disc;
}


.new1_close,
.new1_small,
.new1_min {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&family=Oleo+Script+Swash+Caps&display=swap');
.new1_close {
    margin-left: 10px;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #000000;
    background-color: #ff605c;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
.new1_small{
  margin-left: 40px;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #FFBD44;
}
.new1_min {
  margin-left: 70px;
  position: absolute;
  padding-top: 2px;
  text-align:center;
  display: inline-block;
  color: #000000;
  background-color: #00CA4E;
}

.skills-intro {
  font-size: 150px;
  color: black;
  margin-left: 250px;
  margin-top: 200px;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
}
.skills-head {
  position: absolute;
  margin-top: 310px;
  font-size: 50px;
  margin-left: 230px;
  font-family: "Source Code Pro", monospace;
}
.skill-j {
  font-size: 25px;
  font-family: "Source Code Pro", monospace;
  padding-top: 80px;
  font-weight: 600;
  padding-left: 200px;
}
.time-line-1 {
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  padding-top: 80px;
  margin-left: 300px;
}
.timeline {
  width: 140px;
  rotate: 90deg;
  margin-left: 270px;
  display: inline;
  z-index: 1;
  position: absolute;
  margin-top: 55px;
}
.tab1 {
  width: 300px;
  height: 80px;
  margin-top: 20px;
  margin-left: 380px;
  background-color: rgb(52, 45, 45);

}
.level1 {
  height: 80px;
  width: 300px;
  display: inline-block;
  position: absolute;
  margin-top: 100px;
  margin-left: 1000px;
  background-color: rgb(52, 45, 45);
  
} 
.level2 {
  height: 80px;
  width: 300px;
  display: inline-block;
  position: absolute;
  margin-top: 220px;
  margin-left: 1000px;
  background-color: rgb(52, 45, 45);
  
}
.level3 {
  height: 80px;
  width: 300px;
  display: inline-block;
  position: absolute;
  margin-top: 340px;
  margin-left: 1000px;
  background-color: rgb(52, 45, 45);
  
}
.level4 {
  height: 80px;
  width: 300px;
  display: inline-block;
  position: absolute;
  margin-top: 460px;
  margin-left: 1000px;
  background-color: rgb(52, 45, 45);
  
}
.label-red {
  width: 6px;
  height: 80px;
  position: absolute;
  display: inline-block;
  background-color: #dd3737;
}
.label-yellow {
  width: 6px;
  height: 80px;
  position: absolute;
  display: inline-block;
  background-color: yellow;
}
.label-green {
  width: 6px;
  height: 80px;
  position: absolute;
  display: inline-block;
  background-color: greenyellow;
}
.label-blue {
  width: 6px;
  height: 80px;
  position: absolute;
  display: inline-block;
  background-color: blue;
}
.skill-discription {
  font-size: 20px;
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  width: 280px;
  margin-top: 25px;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.6s;
}
.skill-discription:hover {
  color: #dd3737;
}
.skill-discription2 {
  font-size: 20px;
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  width: 280px;
  margin-top: 15px;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.6s;
}
.skill-discription2:hover {
  color: #dd3737;
}
.category-level {
  display: inline-block;
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 25px;
  margin-left: 960px;
  margin-top: 0px;
}
.time-line-2 {
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  padding-top: 40px;
  margin-left: 300px;
}
.end-timeline {
  width: 200px;
  margin-left: 340px;
  margin-top: 27px;
  opacity: 0.5;
}
.end-timeline2 {
  rotate: 90deg;
  width: 20px;
  margin-top: 10px;
  margin-left: 530px;
  opacity: 0.5;
}

.project-intro {
  font-size: 150px;
  color: black;
  margin-left: 250px;
  margin-top: 150px;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
}
.project-head {
  position: absolute;
  margin-top: 260px;
  font-size: 50px;
  margin-left: 230px;
  font-family: "Source Code Pro", monospace;
}
