* {
    margin: 0%;
    color: #00cc44;
    cursor: default;
    scroll-behavior: smooth;
}

.v_1_0 {
    width: 100%;
    height: 2800px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v_1_2 {
    width: 133px;
    color: #00cc44;
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 65%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}
.v_1_3 {
    width: 133px;
    color: #00cc44;
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 75%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}
.current {
  width: 50px;
  height: 5px;
  margin-left: 38px;
  border-radius: 10px;
  background-color: #00cc44;
}

.v_1_4 {
    width: 133px;
    color: #00cc44;
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 85%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}
.v_1_6 {
  display: flex;
  height: 600px;
  width: 600px;
  line-height: 50px;
}
.v_1_5 {
    height: 384px;
    width: 384px;
    margin-top: 120px;
    margin-left: 40px;
}
.v_1_7 {
  height: fit-content;
  width: fit-content;
}

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");



.line__1,
.line__2 {
  width: auto;
  overflow: hidden;
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  font-weight: bold;

}

.line__1 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);
  height: fit-content;
  align-items: flex-start;
  color: #00cc44;
  margin-top: 250px;
  max-width: fit-content;
  /* define animation types for text + cursor */
  animation: animated-text__1 6s steps(30, end) 1s 1 normal both,
    animated-cursor__1 300ms steps(30, end) 8;
}

.line__2 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);
  height: fit-content;
  position: absolute;
  color: #00cc44;
  max-width: fit-content;
  font-size: 70px;
  /* define animation types for text + cursor */
  animation: animated-text__2 4s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 45rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

.v_1_8 {
  position: absolute;
  width: 600px;
  height: 258px;
  left: 800px;
  top: 160px;
  border-radius: 10px;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-indent: 10px;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: white;

  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v_1_9 {
  left: 35%;
  top: 330px;
  width: 390px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

h1 {
  display: inline;
}

.v_1_10 {
  font-family: "Major Mono Display", monospace;
  font-size: x-large;
  margin-left: 12%;
  align-self: center;
}

.screen {
  height: auto;
  margin-bottom: 90px;
  width: 80%;
  margin-left: 10%;
  margin-top: 65px;
  border-radius: 15px;
  background-color: whitesmoke;
}

.navigation {
  height: 50px;
  background-color: rgb(200, 200, 200);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.close,
.small,
.min {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&family=Oleo+Script+Swash+Caps&display=swap');
.close {
  margin-left: 10px;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: #000000;
  background-color: #ff605c;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.small{
  margin-left: 40px;
  position: absolute;
  display: inline-block;
  text-align: center;
  color: #000000;
  background-color: #FFBD44;
}
.min {
  margin-left: 70px;
  position: absolute;
  text-align:center;
  display: inline-block;
  color: #000000;
  background-color: #00CA4E;
}
.title_terminal {
  margin-left: 45%;
  width: fit-content;
  top: 30px;
  color: #000000;
  height: 100%;
  text-align: center;
  font-size: x-large;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
.v_2_3 {
  font-size: large;
  font-family: 'Inconsolata', monospace;
  color: #000000;
  margin-top: 5px;
  margin-left: 5px;
}
u {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}
.v_3_0 {
  position: absolute;
  left: 10%;
  top: 1400px;
  width: 80%;
  height: 400px;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.v_3_1 {
  position: absolute;
  width: 350px;
  height: 400px;
  transition: transform .2s;
  left: 20px;
  top: 150px;
  background: #FFFFFF;
  border-radius: 25px;
}

.v_3_2 {
  position: absolute;
  width: 350px;
  height: 400px;
  left: 430px;
  transition: transform .2s;
  font-family: 'Satisfy', cursive;
  top: 150px;
  background: #FFFFFF;
  border-radius: 25px;
}
.v_3_3 {
  position: absolute;
  width: 350px;
  height: 400px;
  left: 830px;
  top: 150px;
  transition: transform .2s;
  background: #FFFFFF;
  border-radius: 25px;
}

.v_3_1:hover,
.v_3_2:hover,
.v_3_3:hover {
  transform: scale(1.2);
}

h6 {
  color: #000000;
  line-height: 40px;
  font-family: 'Lekton', sans-serif;
  margin-top: 10px;
}
.date {
  font-size: large;
  color: #000000;
  font-weight: bold;
  font-family: 'Lekton', sans-serif;
}
.details {
  font-size: large;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.1;
  font-family: 'Lekton', sans-serif;
  font-weight: 500;
}
.v_3_4,
li {
  color: #000000;
  text-align: left;
  width: 300px;
}

.head {
  margin-left: 45%;
  margin-top: 750px;
  margin-bottom: 50px;
}

