* {
    margin: 0%;
}

.v_1_0 {
    width: 100%;
    height: 900px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v_1_2 {
    width: 133px;
    color: rgba(255,255,255,1);
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 65%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v_1_3 {
    width: 133px;
    color: rgba(255,255,255,1);
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 75%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v_1_5 {
    width: 334px;
    height: 300px;
    background: url("../images/v8_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin-top: 10%;
    margin-left: 3%;
    position: absolute;
    overflow: hidden;
}

.v_1_4 {
    width: 133px;
    color: rgba(255,255,255,1);
    background-color: black;
    border: 0px;
    position: absolute;
    margin-left: 85%;
    margin-top: 40px;
    font-family: Anek Telugu;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v_1_5 {
    height: 434px;
    width: 434px;
    margin-top: 60px;
    margin-left: 40px;
}
